.auth-modal.ao-modal
    &.auth-modal--login
        .modal-dialog
            max-width: 480px

        .modal-header
            background-image: url('../img/login-bg.jpg')

    &.auth-modal--registration
        .modal-dialog
            max-width: 950px

        .modal-header
            background-image: url('../img/login-bg@2x.jpg')

        .modal-title, .modal-subtitle, .auth-form--heading
            text-align: left

    .modal-header
        background-size: cover
        background-position: center center
        background-repeat: no-repeat
        flex-direction: column
        justify-content: center
        padding: 1.25em
        z-index: 1

        @media (min-width: 768px)
            padding: 2em

        &::after
            content: ''
            display: block
            position: absolute
            background-image: linear-gradient(to right, $bg-main, #450D05)
            opacity: 0.8
            top: 0
            left: 0
            right: 0
            bottom: 0

        .close
            color: $text-white
            z-index: 2

    .modal-title
        transform: initial
        font-weight: $semi
        font-size: 1.1rem
        margin: 0 auto 0.75em
        text-align: center
        color: $text-white
        z-index: 2
        width: 100%

        @media (min-width: 992px)
            font-size: 1.5rem

    .modal-subtitle
        font-weight: $regular
        font-size: 0.9rem
        margin: 0 auto
        text-align: center
        color: $text-white
        z-index: 2
        width: 100%

        @media (min-width: 992px)
            font-size: 1rem

    .modal-body
        padding: 0

.auth-form--container
    padding: 1.5em

    @media (min-width: 992px)
        padding: 2em

    @media (min-width: 1200px)
        padding: 3em

    .form-group
        margin-bottom: 1.5em

.auth-form--heading
    font-weight: $semi
    font-size: 1.1rem
    margin: 0 auto 0.75em
    text-align: center
    color: $text-main

    @media (min-width: 992px)
        font-size: 1.5rem

.form--error
    color: $text-main
    padding-left: 4px

.password-field-wrapper
    position: relative

    .show-password
        position: absolute
        display: inline-block
        right: 1em
        top: 50%
        transform: translateY(-50%)
        color: $text-grey
        cursor: pointer

        &.active
            color: $text-main

.forgot-password
    display: block
    text-align: right
    color: $text-offwhite
    font-size: 0.9rem

    &:hover, &:focus
        text-decoration: none
        color: $text-main

.form--separator
    display: block
    width: 100%
    margin: 1em 0
    text-align: center
    position: relative
    z-index: 1

    span
        display: inline-block
        color: $text-offwhite
        font-weight: $regular

        &::before
            content: ''
            display: block
            position: absolute
            width: 100%
            left: 0
            right: 0
            top: 50%
            transform: translateY(-50%)
            height: 1px
            background-color: $bg-offwhite
            z-index: -2

        &::after
            content: ''
            display: inline-block
            position: absolute
            height: 100%
            background-color: $bg-white
            width: 50px
            top: 0
            left: 50%
            transform: translateX(-50%)
            z-index: -1

.form--login-social
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 1em
    width: 100%

.btn-facebook
    background-color: $bg-fb
    color: $text-white
    border-radius: 4px
    padding: 0.375em 1em

    &:hover, &:focus
        color: $text-white

    i.fa
        margin-right: 4px

.btn-google
    background-color: $bg-google
    color: $text-white
    border-radius: 4px
    padding: 0.375em 1em

    &:hover, &:focus
        color: $text-white

    i.fa
        margin-right: 4px

.btn-noaccount
    display: block
    width: 100%
    text-align: center
    color: $text-offwhite
    font-size: 1rem
    font-weight: $regular

    &:hover, &:focus
        text-decoration: none
        color: $text-main

.btn-account
    display: inline-block
    width: 100%
    color: $text-offwhite
    font-size: 1rem
    font-weight: $regular
    margin-top: 1em

    @media (min-width: 700px)
        margin-left: 1em
        margin-top: 0
        width: auto

    a
        color: $text-main

        &:hover, &:focus
            text-decoration: none
            color: $text-main

.custom-checkbox
    .custom-control-input
        &:checked ~ .custom-control-label
            &::before
                border-radius: 0
                background-color: $bg-white
                outline: none

            &::after
                background-image: url('../img/checked@2x.png')
                outline: none

    .custom-control-label
        color: $text-offwhite
        font-size: 1rem
        font-weight: $regular

        &::before
            border-radius: 0
            background-color: $bg-white
            border: 1px solid $border-lightgrey

// User Profile Box
.up--box
    display: flex
    flex-direction: column
    justify-content: center
    width: 100%
    border: 1px dashed $border-lightgrey
    background-color: $bg-offwhite
    padding: 1.5em
    min-width: 180px
    min-height: 180px
    max-width: 180px
    max-height: 180px
    overflow: hidden
    text-align: center
    transition: all ease-in 300ms
    margin-bottom: 2em

    .up--box-dragdrop-img, .up--box-dragdrop
        display: none

    input[type='file']
        position: absolute
        width: 1px
        height: 1px
        left: -5000px

    label, p
        margin: 0

    .uploadedPic
        display: none

    .removeUploadedPic
        position: absolute
        display: none
        width: 20px
        height: 20px
        line-height: 20px
        text-align: center
        background-color: $bg-white
        border-radius: 50%
        cursor: pointer
        top: 0.25em
        right: 2em
        color: $text-main

    .normal-file-upload
        color: $text-main
        text-decoration: underline
        cursor: pointer

    &.is-dragover
        background-color: $bg-white
        cursor: copy

    &.is-uploaded
        padding: 0

        .uploadedPic
            width: 100%
            max-width: 100%

        .removeUploadedPic
            display: inline-block

        .normal-file-upload, .up--box-dragdrop-img, .up--box-dragdrop
            display: none

    &.has-advanced-upload
        .up--box-dragdrop-img
            display: block
            text-align: center
            margin-bottom: 1em

        .up--box-dragdrop
            color: $text-offwhite
            display: inline-block
