.footer
    width: 100%
    background-color: $bg-black

.footer--inner
    width: 100%
    display: flex
    align-items: center
    flex-wrap: wrap
    padding: 0.5em 0

.footer--logo
    width: 60px
    height: 51px
    display: none

    @media (min-width: 900px)
        margin-right: 1em

.footer--nav
    width: 100%
    display: flex
    justify-content: center

    @media (min-width: 800px)
        width: auto
        justify-content: flex-start

    .nav-link
        font-weight: $medium
        transition: all ease-in 350ms
        font-size: 0.9rem
        color: $text-white

        &:hover, &:focus, &:active
            color: $text-offwhite

.copyright-note
    width: 100%
    font-weight: $medium
    margin: 0 0 0 auto
    font-size: 0.8rem
    color: $text-grey
    text-align: center

    @media (min-width: 800px)
        width: auto
        text-align: right
