$black: #000000
$white: #ffffff
$main: #891909
$secondary: #43B94A
$offwhite: #F1F1F1
$border: #D1D3D4
$borderdark: #585858
$text-offblack: #353535
$text-offwhite: #BFBFBF
$grey: #999999
$lightgrey: #707070
$fb: #4572D8
$twitter: #36C0F4
$link: #585858

// Background Colors
$bg-black: $black
$bg-main: $main
$bg-white: $white
$bg-offwhite: $offwhite
$bg-offblack: $text-offblack
$bg-lightgrey: $text-offwhite
$bg-secondary: $secondary
$bg-grey: $grey
$bg-fb: $fb
$bg-twitter: $twitter
$bg-link: $link

// Border Colors
$border-black: $black
$border-white: $white
$border-main: $main
$border-secondary: $secondary
$border-offwhite: $offwhite
$border-genral: $border
$border-dark: $borderdark
$border-grey: $grey

// Text Colors
$text-offblack: $text-offblack
$text-black: $black
$text-white: $white
$text-main: $main
$text-secondary: $secondary
$text-offwhite: $text-offwhite
$text-grey: $grey
$text-lightgrey: $lightgrey
