@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,500,600')
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

$primary-font: 'Source Sans Pro', sans-serif

// Font weights
$regular: 400
$medium: 500
$semi: 600
$bold: 700

@mixin font($f, $w)
    font-family: $f
    font-weight: $w
