@import url('https://fonts.googleapis.com/css?family=Roboto:500|Source+Sans+Pro:400,600')

$primary-font: 'Source Sans Pro', sans-serif
$secondary-font: 'Roboto', sans-serif

// Font weights
$regular: 400
$medium: 500
$semi: 600
$bold: 700

@mixin font($f, $w)
    font-family: $f
    font-weight: $w
