.breadcrum-nav
    background-color: $bg-offwhite
    padding-bottom: 1em

.breadcrumb
    border-radius: 0
    background-color: $bg-offwhite
    margin: 0

.breadcrumb-item
    color: $text-main
    font-size: 1.1rem

    a
        color: $text-main

        &:hover, &:focus
            text-decoration: none

    &.active
        color: $text-main
