// #carousel-main
//     height: calc(100vh - 200px)

//     .carousel-inner
//         height: calc(100vh - 200px)

//         .carousel-item
//             height: calc(100vh - 200px)

//             img
//                 height: calc(100vh - 200px)

.carousel-indicators
    width: 100px
    margin-left: auto
    margin-right: auto

    &::before
        content: ''
        background-image: url('../img/next-arrow.svg')
        background-size: cover
        position: absolute
        top: 50%
        left: 0
        transform: translateY(-50%)
        width: 5px
        height: 10px

    &::after
        content: ''
        background-image: url('../img/prev-arrow.svg')
        background-size: cover
        position: absolute
        top: 50%
        right: 0
        transform: translateY(-50%)
        width: 5px
        height: 10px

.carousel-indicators li
    width: 10px
    height: 10px
    border-radius: 50%
    background-color: $bg-grey

.carousel-control-prev-icon
    background-image: url('../img/prev-arrow.svg')

.carousel-control-next-icon
    background-image: url('../img/next-arrow.svg')

.carousel-caption--left,
.carousel-caption--right,
.carousel-caption--center
    display: none
    width: 75%
    top: 8%
    bottom: 8%

    @media (min-width: 768px)
        display: block
        top: 10%
        bottom: 10%

    @media (min-width: 1440px)
        top: 15%
        bottom: 15%
        margin: auto
        width: 40%

    @media (min-width: 1920px)
        top: 20%
        bottom: 20%
        margin: auto
        width: 40%

.carousel-caption--right
    left: auto
    right: 15%
    text-align: right
    align-items: flex-end

    .carousel-caption--head
        transform: translateX(30px)

.carousel-caption--left
    left: 15%
    right: auto
    text-align: left
    align-items: flex-start

    .carousel-caption--head
        transform: translateX(-30px)

.carousel-caption--center
    left: 15%
    right: 15%
    margin-left: auto
    margin-right: auto
    text-align: center
    align-items: center

.carousel-caption--head
    margin-bottom: 1em

    @media (min-width: 992px)
        margin-bottom: 2em

.carousel--text
    font-size: 0.85rem
    font-weight: $regular
    margin-bottom: 1em

    @media (min-width: 992px)
        margin-bottom: 2em

    @media (min-width: 1440px)
        font-size: 1.2rem

    @media (min-width: 1920px)
        font-size: 1.5rem

.carousel-caption--title
    font-size: 1.5rem
    margin-bottom: 0.5em

    @media (min-width: 1440px)
        font-size: 2.5rem

    @media (min-width: 1920px)
        font-size: 3rem

.carousel-caption--subtitle
    font-size: 1.15rem
    margin: 0

    @media (min-width: 1440px)
        font-size: 2rem

    @media (min-width: 1920px)
        font-size: 2.5rem
