.mlb-news
    // background-color: $bg-white
    // border-radius: 10px
    // padding: 1.5em 1em
    margin-bottom: 1em

.mlb-news--container
    display: flex
    flex-wrap: wrap

.mlb-news--item
    display: flex
    background-color: $bg-white
    box-shadow: 0 0 10px rgba(0,0,0,0.16)
    padding: 0
    border-radius: 4px
    transition: all ease-in 350ms
    transform-style: preserve-3d
    flex: 0 0 100%
    max-width: 100%
    margin-bottom: 1em

    @media (min-width: 480px) and (max-width: 767px)
        flex: 0 0 calc(50% - 1em)
        max-width: calc(50% - 1em)
        margin: 0 0.5em 1em

    @media (min-width: 1024px)
        flex: 0 0 calc(50% - 1em)
        max-width: calc(50% - 1em)
        margin: 0 0.5em 1em

    &:hover, &:focus
        transform: perspective(1000px) translateY(-4px)
        z-index: 11
        cursor: pointer
        box-shadow: 0 5px 10px rgba(0,0,0,.3)

.mlb-news--left
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    background-color: $bg-lightgrey
    border-radius: 4px 4px 0 0

    @media (min-width: 480px)
        width: 25%
        border-radius: 4px 0 0 4px

    @media (min-width: 1024px)
        width: 35%
        border-radius: 4px 0 0 4px

.mlb-news--img
    border-radius: 4px 4px 0 0

    @media (min-width: 480px)
        border-radius: 4px 0 0 4px

    @media (min-width: 1024px)
        border-radius: 4px 0 0 4px

.mlb-news--right
    width: 100%
    padding: 0.75em
    display: flex
    flex-direction: column
    justify-content: flex-start

    @media (min-width: 480px)
        width: 75%

    @media (min-width: 1024px)
        width: 65%

.mlb-news--title
    font-weight: $semi
    font-size: 0.9rem
    margin-top: 0
    margin-bottom: 1em
    color: $text-offblack

    @media (min-width: 992px)
        font-size: 1.05rem

    @media (min-width: 1440px)
        font-size: 1.15rem

.mlb-news--published
    font-size: 0.7rem
    margin: 0
    color: $text-offwhite

    @media (min-width: 992px)
        font-size: 0.8rem

    @media (min-width: 992px)
        font-size: 0.9rem
