.score-tables
    margin-bottom: 2em

.score-tables--container
    background-color: $bg-offwhite
    display: flex
    flex-direction: column

.score-tables--item
    display: flex
    flex-direction: column
    border-radius: 4px
    margin-bottom: 1em

.score-table--head
    display: flex
    justify-content: space-between
    padding: 1em
    background-color: $bg-lightgrey
    color: $text-white
    font-size: 0.9rem
    border-radius: 4px 4px 0 0

    p
        font-size: 0.9rem
        margin-bottom: 0

.score-table--body
    background-color: $bg-white
    border-radius: 4px
    display: flex
    flex-wrap: wrap

    @media (min-width: 600px)
        flex-wrap: nowrap

.score-table--actions
    flex: 0 0 100%
    display: flex
    flex-direction: column
    justify-content: center

    & *:not(:last-child)
        margin: 0 0 0.5em

.score--table
    margin: 0

    @media (min-width: 1200px)
        display: table

    thead
        tr
            td, th
                color: $text-lightgrey
    tr
        td, th
            font-weight: $regular
            font-size: 0.9rem
            vertical-align: middle
            border: 1px solid $border-genral
            color: $text-offblack

            &:not(:first-child)
                text-align: center

.team--icon
    width: 22px

.score-table--expand
    background-color: $bg-white
    margin-top: 2em
    position: relative
    display: none

    &::before
        content: '\f103'
        position: absolute
        font-family: 'FontAwesome'
        top: -2em
        left: 50%
        transform: translate(-50%, -4px)
        display: inline-flex
        width: 28px
        height: 28px
        justify-content: center
        align-items: center
        background-color: $bg-white
        border-radius: 50%
        color: $text-offblack
        box-shadow: 0 5px 10px rgba(0,0,0,0.16)
