body
    @include font($primary-font, $regular)
    font-size: 100%
    background-color: $bg-offwhite

.container
    width: 100%

    @media (min-width: 576px)
        max-width: 90%

    @media (min-width: 768px)
        max-width: 90%

    @media (min-width: 992px)
        max-width: 90%

    @media (min-width: 1200px)
        max-width: 90%

    @media (min-width: 1920px)
        max-width: 1800px

.main-content
    background-color: $bg-offwhite

.block--foot
    text-align: center
    padding-top: 1.2em
    padding-bottom: 1.2em

.dropdown-toggle:after
    content: '\f107'
    font-family: 'FontAwesome'
    border: none
    position: absolute
    margin-left: 0.5em
    color: $text-offwhite

section.banner
    padding: 2.25em 0 1.5em!important
    margin: 0!important

.main-content
    min-height: 100vh
    height: auto
